* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
}
.nav-Title {
  color: #181818;
  font-size: 2.8125rem;
  font-weight: 800;
}
.title-span {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: #474747;
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 50px;
}
.nav-btn{
    padding:18px 35px;
    margin-left: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    color:white;
    background-color: #FD6E0A;
    border:none;
    border-radius: 0.3125rem;
    cursor: pointer;
}